body{

  font-family: Roboto, Arial;
  font-size: 16px;

  background-color: var(--color22);
    
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


}


@media (min-width: 1000px) and (max-width: 1399px) {
  body{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1400px) and (max-width: 1799px) {
  body{
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (min-width: 1800px) {
  body{
    margin-left: 200px;
    margin-right: 200px;
  }
}

.paragraph-title{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
}

.general-link{
  font-weight: 300;
  color: var(--color21);
}

